fastapi
uvicorn
python-multipart
transformers
torch
torchaudio
langchain
langchain-groq
python-dotenv
requests
pydantic
chromadb
sentence-transformers
pdfplumber
beautifulsoup4
pytest
passlib[bcrypt]
bcrypt
